<div fxLayoutAlign="center center" class="login-container" fxFlexFill>
	<mat-card fxFlex="70">
		<form fxLayoutAlign="stretch" fxLayout="column" action="" class="login-form">
			<mat-toolbar color="primary" style="margin-bottom: 10px;">
				<span>Sign-in</span>
			</mat-toolbar>
			<mat-form-field class="example-full-width">
				<mat-label>UserName</mat-label>
				<input matInput placeholder="Ex. Youssef Abbas">
			</mat-form-field>
			
			<mat-form-field class="example-full-width">
				<mat-label>Case description</mat-label>
				<textarea matInput placeholder="Ex. have been diagnosed with lung cancer on March 15, 2023. Has a history of smoking for over 30 years, with an average consumption of one pack of cigarettes per day. He has also been exposed to secondhand smoke due to his work in a poorly ventilated environment for the past two decades. Apart from smoking, his medical history indicates occasional alcohol consumption and a sedentary lifestyle. He has not had any significant respiratory issues in the past, but he occasionally experienced a persistent cough that he attributed to smoking."></textarea>
			</mat-form-field>

			<button style="background-color: #2e61c7; color:white" mat-raised mat-button type="submit">Login</button>
		</form>
	</mat-card>
</div>