<div fxLayoutAlign="center center" class="login-container" fxFlexFill>
	<mat-card fxFlex="70">
	<mat-card>
		<mat-card-content>
			<div class="box-case">
				<h3>My open case</h3>
				<h3>description:</h3>
				<p>have been diagnosed with lung cancer on March 15, 2023. Has a history of smoking for over 30 years, with an average consumption of one pack of cigarettes per day. He has also been exposed to secondhand smoke due to his work in a poorly ventilated environment for the past two decades. Apart from smoking, his medical history indicates occasional alcohol consumption and a sedentary lifestyle. He has not had any significant respiratory issues in the past, but he occasionally experienced a persistent cough that he attributed to smoking</p>
				<div style="display: flex;">
					<h2 style="padding-right: 5px;">category:</h2>
					<h2 style="color: brown;">Cancer and tumor</h2>
				</div>
				<h2>Assigned Severity: Sever 🔴</h2>
				
			</div>
		</mat-card-content>
	</mat-card>
	</mat-card>
</div>