<body>
	<header>
	  <h1>MedLink-up</h1>
	  <h3>Welcome to MedLinkup: Your Bridge to Healthcare Solutions</h3>
	</header>
	<section class="hero">
	  <img id="main-img" src="assets/slider-img.jpg" alt="Medical Care Center">
	  <div class="overlay">
		<h2>Your Health, Our Priority</h2>
		<p>At MedLinkup, our mission is to connect patients in need with the hospitals and medical facilities that can offer them the care they require, all at no cost. We understand that navigating the complexities of the healthcare system can be overwhelming, especially for those who are facing challenging medical conditions. That's why we've created a platform that serves as a lifeline, providing a helping hand when it's needed most.
			Our Vision:
			We envision a world where every individual has equal access to quality healthcare, regardless of their financial circumstances. With MedLinkup, we're taking a step closer to making this vision a reality.
			How MedLinkup Works:
			MedLinkup serves as a dynamic bridge between patients seeking medical assistance and hospitals ready to extend a helping hand. Our platform streamlines the process of finding the right medical care, ensuring that patients are matched with hospitals that specialize in their specific medical needs.</p>
	  </div>
	</section>
	<section class="services">
	</section>
  </body>